<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  
</div>

<button (click)="sendMsg()">Send Message</button>

<div id="pofs-crypto-prices-section">
  <div id="pofs-crypto-prices-btc">
    Bitcoin (BTC): 
    <div id="pofs-crypto-prices-btc-usd" class="pofs-crypto-price-feed"></div>
  </div>
  <div id="pofs-crypto-prices-eth">
    Ethereum (ETH): 
    <div id="pofs-crypto-prices-eth-usd" class="pofs-crypto-price-feed"></div>
  </div>
  <div id="pofs-crypto-prices-ltc">
    Litecoin (LTC): 
    <div id="pofs-crypto-prices-ltc-usd" class="pofs-crypto-price-feed"></div>
  </div>
</div>
<router-outlet></router-outlet>
